@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cafe24SsurroundAir','Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #222222;
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
}

#wrap{
    width: 100%;
    min-width: 1200px;
    position: relative;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header{
    height: 130px;
}

.headerIn{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.logo{
    width: 100px;
    padding-top: 10px;
}

.logo img{
    width: 100px;
}
.container{
	width:100%;
}
.mainSlide{
    width: 100%;
    margin-bottom: 50px;
}

.mainSlide img{
    width: 100%;
    height: 400px;
}

.gnb{
    position: absolute;
    bottom: 0;
    left: 200px;
    height: 30px;
}

.gnb_menu{
    display: flex;
    justify-content: space-between;
}

.gnb_menu li a{
    color: #222;
    font-size: 18px;
    margin-right: 50px;
    line-height: 30px;
}

.utils{
    position: absolute;
    top: 40px;
    right: 50px;
}

.utils .ut{
    display: flex;
}

.utils .ut li{
    margin-left: 20px;
}

.utils .ut li a{
    color: #222;
}


#title{
    text-align: center;
    margin: 40px 0;
    font-weight: bold;
}

.best ul{
    display: flex;
    justify-content:space-between;
}

.best ul li a{
    color: #222;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

.best ul li img{
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
}

.today ul{
    display: flex;
    justify-content:space-between;
}

.today ul li{
	width:50%;
	display: flex;
	justify-content:space-around;
}

.today strong{
	font-size:20px;
	line-height: 30px;
}

.book_report ul li{
    display: flex;
    align-items: center;
    border:1px solid #999;
    border-radius:10px;
    margin-top: 10px;
}
.book_report img{
	width: 200px; 
	height: 300px;
	border-radius: 20px;
	padding: 10px 10px;
}
.book_report ul li p{
	margin-left: 20px;
	align-items: center;
}

.book_report ul li strong{
	font-size:20px;
}




