@charset "utf-8";

*{
	margin:0;
	padding:0;
	border:none;
}

form{
	background-color: #ddd;
}
.input_box{
	width:250px;
	height:20px;
 	border: 1px solid lightsalmon;
    border-radius: 20px;
    padding: 5px;
}

.book_img{
	background-image: url(../resources/img/book_report.jpg);
	width:800px;
	height: 600px;
}